**/.vs/*
**/packages/*
**/bin/*
**/obj/*
.vs/*
packages/*
bin/*
obj/*

# Prerequisites


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)


# Executables


# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.suo

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/MyFace/.vs/MyFace/v15/*.suo
*.config
MyFace/MyFace/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyFace/myFaceLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

MyFace/\.vs/

MyFace/MyFace/bin/

MyFace/MyFace/obj/

MyFace/myFaceDAL/obj/

