@model MyFace.Models.Post

<div>
	@using(Html.BeginForm()){ 
		<div class="fdiv">
			Post Text
			@Html.TextAreaFor(x => x.textcontent);
		</div>
		<input type="submit" value="Post" formmethod="post" formaction="PostPost"/>
	}
</div>