body {
	background-color: black;
	color: gray;
}

.page-header{
	border-bottom: none;
	display: inline-block;
	margin: auto;
}

	.page-header img{
		height: 100px;
		width: 75px;
	}

	.page-header h1 {
		font-family: "Brush Script MT", cursive;
		font-size: 60px;
	}
	.page-header h2 {
		font-family: "Brush Script MT", cursive;
		font-size: 60px;
	}

.ProfilePageContainer{
	text-align:center;
}

.profilePictureContainer{
	height: 215px;
	width: 215px;
	border-radius: 10px;
	margin: 15px auto; 
	background-color: gray;
	color: lightgray;
	align-content: center;
	text-align: center;
	padding: 10px;
}

	.profilePictureContainer img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: solid 3px;
		border-color: black;
	}

.Username{
	margin:auto;	
	display:inline-block;
	margin-bottom: 55px;
}

.Username h1{
	font-family: "Brush Script MT", cursive;
	font-size: 60px;
	display: inline-block;
	margin:auto;
}

.FriendPageContainer{

}

.FriendContainer{
	background-color: gray;
	margin: auto;
	margin-bottom: 25px;
	height: 200px;
	width: 75%;
}

.navbar-inverse{

}

.navbar-inverse .navbar-nav > li > a > img {
	height: 30px;
}

.sectionContainer {
    text-align: center;
    background-color: darkslategray;
    color: black;
    border-radius: 35px;
	padding: 35px;
}

.row {
	margin: 35px;
	background-color: yellow;
}

.postSomething {
	display: inline-block;
	background-color: darkslategray;
	font-family: "Brush Script MT", cursive;
	font-size: 25px;
	border-radius: 20px;
	margin: 10px;
}

.postSomething p4{
	margin: 10px;
}

.jumbotron {
	margin: 35px;
	border-radius: 15px;
	background-color: gray;
}

.bodyStuff{
	margin-top: 100px;
}

.userInfoNav{
	background-color: gray;
	/*height: 35px;
	width: 55%;*/
	border-radius: 10px;
	margin: auto;	
	margin-top: 35px;
	color:black;
	display: inline-block;
}

.userInfoNav ul{
	list-style-type: none;
}

	.userInfoNav li {
		display: inline;
		margin: 65px;
		font-size: 30px;
		font-family: "Brush Script MT", cursive;
		}


.feedContainer{
	background-color: gray;
	height: 650px;
	width: 75%;
	margin-top: 55px;
	margin: 55px auto 55px auto;
	border-radius: 10px;
	color: black;
}

a{
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color:purple;
}

.aboutUser{
	background-color: orange;

}