@model List<MyFaceLib.Models.User>
<div class="FriendPageContainer">

	<div class="sectionContainer">

		<div class="page-header">
			<h1>Friends</h1>
		</div>
		<div class="FriendContainer">

			<h2>Exsisting Friends List</h2>

		</div>
	</div>

	<div class="sectionContainer">
		<div class="page-header">
			<h2>Recommended Friends</h2>


		</div>
		<div class="FriendContainer">
			<h2>Current Friend List</h2>

			@foreach (var friend in Model) {
				<div>
					<div>
						@Html.DisplayFor(model => friend.UserName)
					</div>
					<div>
						(@Html.DisplayFor(model => friend.RealName))
					</div>
					<div>
						@Html.DisplayFor(model => friend.Email)
					</div>
					<div>
						
					</div>
				</div>
			}

		</div>
	</div>

</div>
