@model MyFaceLib.Models.FriendList
@{
    ViewBag.Title = "Home Page";
}

<div class="postSomething">
	<p4><u>@Html.ActionLink("Post Something?", "AddPost")</u></p4>
</div>
<div class="sectionContainer">
	<div class="page-header">
		<h1>Status Feed</h1>
	</div>
	<div class="jumbotron">                    
			<p2>No Available Status</p2>
	</div>

</div>