@model myFaceLib.Models.FriendList
@{
    ViewBag.Title = "Home Page";
}

<div class="sectionContainer">
	<div class="page-header">
		<h1>Status Feed</h1>
	</div>
	<div class="jumbotron">

		
		@{
			Html.Partial("PostViewing", myFaceLib.Services.PostService.MakePostList());
		}
	</div>
	<div class="row">

	</div>
</div>