@model MyFaceLib.Models.User
@{
	ViewBag.Title = "Profile Page";
}

<div class="ProfilePageContainer">
	<div class="Username">
			@*@Model.realname*@
		<h1>Users Real Name</h1>
	</div>

	<div class="profilePictureContainer">
		<div>
			<img src="~/Content/Images/Cat.jpg" alt="Profile Picture Container" />
		</div>
	</div>

	<div class="userInfoNav">
		<ul>
			<li><u>About</u></li>
			<li><u>Photos</u></li>
			<li><u>Friends</u></li>
		</ul>
	</div>

	<div class="postfeed">

	@foreach(var post in Model.Posts )
	{
		
	}

	</div>
</div>
