@model myFaceLib.Models.Post

@{




        <div class="Post">
            <img href="~/Content/Images/@Model.imagefname" />
            <p>@Model.textcontent</p>
            <div class="option bar">

                <a href="/Home/LikePost?id=@Model.id">Like</a>
                <a href="/Home/DislikePost?id=@Model.id">Dislike</a>

            </div>
        </div>
    
}   