@model myFaceLib.Models.Post

@{
    List<myFaceLib.Models.Post> list = myFaceLib.Services.PostService.MakePostList();

    foreach (myFaceLib.Models.Post p in list)
    {

        <div class="Post">
            <img href=@p.imagecontent />
            <p>@p.textcontent</p>
            <div class="option bar">

                <a href="/Home/LikePost?id=@p.id">Like</a>
                <a href="/Home/DislikePost?id=@p.id">Dislike</a>

            </div>
        </div>
    }
}   