@model MyFaceLib.Models.Post

@{




        <div class="Post">
            <img href="~/Content/Images/@Model.Imagefname" />
            <p>@Model.Textcontent</p>
            <div class="option bar">

                <a href="/Home/LikePost?id=@Model.Id">Like</a>
                <a href="/Home/DislikePost?id=@Model.Id">Dislike</a>

            </div>
        </div>
    
}   